{#
Displays a single of definition.

definition - A definition to display.

Example:

  {% snippet 'snippets/definition_item.html', definition=definition %}

#}
{% set title = definition.label%}
{% set truncate_title = truncate_title or 80 %}
{% set enabled = definition.enabled%}
{% set description = h.markdown_extract(definition.description) %}

{% block definition_item %}
  <li class="{{ item_class or "dataset-item" }}">
    {% block content %}
      <div class="dataset-content">
        {% block heading %}
          <h3 class="dataset-heading">
            {% block heading_title %}
              {{ h.link_to(h.truncate(title, truncate_title), h.url_for('definition.read', definition_id=definition.id)) }}
            {% endblock %}
            {% block enabled %}
              {% if show_enabled %}
                {% if enabled %}
                  <i class="fa fa-eye" aria-hidden="true" style="color: green;"></i>
                {% else %}
                  <i class="fa fa-eye-slash" aria-hidden="true" style="color: red;"></i>
                {% endif %}
              {% endif %}
            {% endblock %}
          </h3>
        {% endblock %}
        {% block description %}
          {{ description }}
        {% endblock %}
      </div>
    {% endblock %}
  </li>
{% endblock %}
