{% ckan_extends %}
{% set search_title_only_filter = h.definition_search_title_only_filter() %}

{% block search_input %}
    {% if type == "definition" and search_title_only_filter %}
        <div style="padding-bottom: 15px;">
            <input type="radio" name="search_title_only" value="false" {% if search_title_only == "false" %} checked="true" {% endif %} style="margin-top: -15px;">
            &nbsp;&nbsp;{{ _('Search all definition metadata') }}
            <br>
            <input type="radio" name="search_title_only" value="true" {% if search_title_only == "true" %} checked="true" {% endif %} style="margin-top: -15px;">
            &nbsp;&nbsp;{{ _('Search only for definition titles') }}
        </div>
    {% endif %}
    <div class="search-input control-group {{ search_class }}">
        <label for="field-giant-search">
            {% block header_site_search_label %}{{ _('Search Definitions') }}{% endblock %}</label>
        <input id="field-giant-search" type="text" class="search" name="q" value="{{ query }}" autocomplete="off"
               placeholder="{{ placeholder }}">
        {% block search_input_button %}
            <button type="submit" value="search">
                <i class="fa fa-search"></i>
                <span>{{ _('Submit') }}</span>
            </button>
        {% endblock %}
    </div>
{% endblock %}
