{% extends "package/read_base.html" %}

{% block subtitle %}{{ _('Definitions') }} - {{ super() }}{% endblock %}

{% block primary_content_inner %}
  {% block package_definitions_list %}
    {{ h.snippet('package/snippets/definition_list_manage.html', pkg_definitions=pkg_definitions, pkg=pkg) }}
  {% endblock %}

  <div style="width: 40%; float: right; text-align: center;">
    <h3>
    {% block page_heading %}{{ _('Add Definition') }}{% endblock %}
    </h3>
    {% block form %}
      <form class="dataset-form form-horizontal add-member-form" method='post' action="new">
        <div class="row-fluid">
          <div class="control-group control-medium" style="display: inline-block; float: none; width: 70%;" >
            <div class="controls">
                 <input id="definition_id" type="text" name="definition_id" placeholder="{{ _('Definition') }}"
                        value="" class="control-medium" data-module="autocomplete"
                        data-module-source="/api/action/definition_autocomplete?q=?"
                        data-module-label="display_name" data-module-key="id">
            </div>
          </div>
        </div>
        <button class="btn btn-primary" type="submit" name="submit" >{{ _('Add Definition') }}</button>
      </form>
    {% endblock %}
  </div>
  <div class="form-actions" style="width: 100%; display: inline-block;">
    {% link_for _('Back'), controller='ckanext.definitions.controllers.package_definition:PackageDefinitionController', action='index', package_id=pkg.id, class_='btn pull-right', icon='arrow-left'%}
  </div>
{% endblock %}

