<section class="definition-info">
  <h3>{{ _('Definition Info') }}</h3>
  <table class="table table-striped table-bordered table-condensed">
    <thead>
      <tr>
        <th scope="col">{{ _('Field') }}</th>
        <th scope="col">{{ _('Value') }}</th>
      </tr>
    </thead>
    <tbody>
      {% block definition_info %}

          <tr>
            <th scope="row" class="definition-label">{{ _("Label") }}</th>
            <td class="definition-details" property="dc:label">{{ definition_dict.label }}</td>
          </tr>

          {% if h.definition_show_additional_metadata() %}
              <tr>
                <th scope="row" class="definition-discipline">{{ _("Discipline") }}</th>
                <td class="definition-details" property="dc:discipline">{{ definition_dict.discipline }}</td>
              </tr>

              <tr>
                <th scope="row" class="definition-expertise">{{ _("Expertise") }}</th>
                <td class="definition-details" property="dc:expertise">{{ definition_dict.expertise }}</td>
              </tr>
              <tr>
          {% endif %}
            <th scope="row" class="definition-label">{{ _('URL') }}</th>
            {% if h.is_url(definition_dict.url) %}
              <td class="definition-details" property="foaf:homepage">{{ h.link_to(definition_dict.url, definition_dict.url, rel='foaf:homepage', target='_blank') }}</td>
            {% elif definition_dict.url and h.is_url('http://'+definition_dict.url) %}
                <td class="definition-details" property="foaf:homepage">{{ h.link_to(definition_dict.url, 'http://'+definition_dict.url, rel='foaf:homepage', target='_blank') }}</td>
            {% else %}
              <td class="definition-details" property="foaf:homepage">{{ definition_dict.url }}</td>
            {% endif %}
          </tr>

          <tr>
            <th scope="row" class="definition-label">{{ _("Enabled") }}</th>
            <td class="dataset-details" property="dc:enabled"> {% if definition_dict.enabled %} Ja {% else %} Nee {% endif %}</td>
          </tr>

          <tr>
            <th scope="row" class="definition-label">{{ _("Creator") }}</th>
              <td class="definition-details" property="dc:creator">{{
                  definition_dict.creator_id }}
              </td>
          </tr>

          <tr>
            <th scope="row" class="definition-label">{{ _("Created Date") }}</th>

            <td class="definition-details">
                {% snippet 'snippets/local_friendly_datetime.html', datetime_obj=definition_dict.created_date %}
            </td>
          </tr>

          <tr>
            <th scope="row" class="dataset-label">{{ _("Modified Date") }}</th>
            <td class="dataset-details">
                {% snippet 'snippets/local_friendly_datetime.html', datetime_obj=definition_dict.modified_date %}
            </td>
          </tr>

      {% endblock %}
    </tbody>
  </table>
</section>
