{% import 'macros/form.html' as form %}

{% block definition_basic_fields_label %}
    {%- set options=[] -%}
    {%- set choices=h.definition_list_choices() -%}
    {%- for choice in choices -%}
        {%- do options.append({'value': c.value}) -%}
    {%- endfor -%}
    {% call form.text_with_datalist('label', id='field-label', label=_('Label'), options=options, selected=data.label, error=errors.label, classes=['control-medium'], is_required=true) %}{% endcall %}

{#    {{ form.input('label', id='field-label', label=_('Label'), value=data.label, is_required=true, error=errors.label, classes=['control-full', 'control-large']) }}#}

{% endblock %}






{% block definition_basic_fields_description %}
    {{ form.markdown('description', id='field-description', label=_('Description'), is_required=true, value=data.description, error=errors.description) }}
{% endblock %}

{% block package_metadata_fields_url %}
    {{ form.input('url', id='field-url', label=_('URL'), value=data.url, error=errors.url, classes=['control-medium']) }}
{% endblock %}

{% block definition_basic_fields_enabled %}
    {# TODO  change options labels to use translations #}
    {{ form.select('enabled', id='field-enabled', label=_('Enabled'), options=[{'name':"Ja", 'value': True},{'name': "Nee", 'value': False}], selected=data.enabled, error=errors['enabled'], classes=['control-medium'], attrs={"class": "form-control"}, is_required=False) }}
{% endblock %}

