{% extends 'definition/base.html' %}

{% set definition = c.definition_dict %}
{% set definition_dict = c.definition_dict %}

{% block breadcrumb_content_selected %}{% endblock %}

{% block breadcrumb_content %}
  {{ super() }}
  {% if definition %}
    <li class="active">{% link_for _('Edit'), controller='ckanext.definitions.controllers.definition:DefinitionController', action='edit', definition_id=definition.id %}</li>
  {% endif %}
{% endblock %}

{% block content_action %}
  {% link_for _('View definition'), controller='ckanext.definitions.controllers.definition:DefinitionController', action='read', definition_id=definition.id, class_='btn', icon='eye' %}
{% endblock %}

{% block content_primary_nav %}
{% endblock %}

{% block secondary_content %}
  {% block info_module %}
    <section class="module module-narrow module-shallow">
      <h2 class="module-heading"><i class="fa fa-info-circle"></i> {{ _('What are definitions?') }}</h2>
      <div class="module-content">
        <p>
          {% trans %}
          Helping Text Explaining what are Definitions and how to use them.
          {% endtrans %}
        </p>
      </div>
    </section>
  {% endblock %}
{% endblock %}
