{% extends 'definition/base.html' %}

{% block breadcrumb_content_selected %}{% endblock %}

{% block breadcrumb_content %}
  {{ super() }}
  {% if definition_dict %}
    <li>{% link_for definition_dict.label|truncate(35), named_route='definition.read', definition_id=definition_dict.id %}</li>
    <li class="active">{% link_for _('Edit'), named_route='definition.edit', definition_id=definition_dict.id %}</li>
  {% endif %}
{% endblock %}

{% block content_action %}
  {% link_for _('View definition'), named_route='definition.read', definition_id=definition_dict.id, class_='btn', icon='eye' %}
{% endblock %}

{% block content_primary_nav %}
{% endblock %}

{% block secondary_content %}
  {% block info_module %}
    <section class="module module-narrow module-shallow">
      <h2 class="module-heading"><i class="fa fa-info-circle"></i> {{ _('What are definitions?') }}</h2>
      <div class="module-content">
        <p>
          {% trans %}
          Helping Text Explaining what are Definitions and how to use them.
          {% endtrans %}
        </p>
      </div>
    </section>
  {% endblock %}
{% endblock %}
