{% extends "definition/read_base.html" %}

{% block page_primary_action %}
{% endblock %}

{% block primary_content_inner %}

    {% block definition_label %}
        {% if definition_dict.label %}
            <h1>{{ definition_dict.label }}</h1>
        {% endif %}
    {% endblock %}


    {% block definition_description %}
        {% if definition_dict.description %}
            <div class="notes embedded-content">
                {{ h.render_markdown(h.get_translated(definition_dict, 'description')) }}
            </div>
        {% endif %}
    {% endblock %}

    {% block package_additional_info %}
        {% snippet "definition/snippets/definition_info.html", definition_dict=definition_dict %}
    {% endblock %}

    {% block definition_search_form %}
        {% block definition_search_title %}
            <h1>{{ _('Datasets Associated') }}</h1>
        {% endblock %}

        {% set facets = {
      'fields': fields_grouped,
      'search': search_facets,
      'titles': facet_titles,
      'translated_fields': translated_fields,
      'remove_field': remove_field } %}
        {% set sorting = [
      (_('Relevance'), 'score desc, metadata_modified desc'),
      (_('Name Ascending'), 'title_string asc'),
      (_('Name Descending'), 'title_string desc'),
      (_('Last Modified'), 'metadata_modified desc'),
      (_('Popular'), 'views_recent desc') if g.tracking_enabled else (false, false) ] %}
        {% snippet 'snippets/search_form.html', form_id='definition-datasets-search-form', type='dataset', query=q, sorting=sorting, sorting_selected=sort_by_selected, count=page.item_count, facets=facets, placeholder=_('Search datasets...'), show_empty=request.params, fields=fields %}
    {% endblock %}
    {% block packages_list %}
        {% if page.items %}
            {{ h.snippet('snippets/package_list.html', packages=page.items) }}
        {% endif %}
    {% endblock %}
    {% block page_pagination %}
        {{ page.pager(q=q) }}
    {% endblock %}
{% endblock %}

{% block organization_facets %}
    {% set alternative_url = h.url_for('definition.read', definition_id=definition_dict.id) %}
<div class="filters">
  <div>
    {% for facet in facet_titles %}
      {% if (facet == 'creator_user_id') %}
        {{ h.snippet('snippets/facet_list.html', title=facet_titles[facet], name=facet, alternative_url=alternative_url, extras={'extras_definition':definition_dict.id} ) }}
      {% elif (facet == 'private') %}
        {{ h.snippet('snippets/facet_list.html', title=facet_titles[facet], name=facet, alternative_url=alternative_url, extras={'extras_definition':definition_dict.id} ) }}
      {% elif (facet == 'subtheme') %}
        {{ h.snippet('snippets/facet_list.html', title=facet_titles[facet], name=facet, alternative_url=alternative_url, extras={'extras_definition':definition_dict.id} ) }}
      {% elif (facet == 'vermelding_type') %}
        {{ h.snippet('snippets/facet_list.html', title=facet_titles[facet], name=facet, alternative_url=alternative_url, extras={'extras_definition':definition_dict.id} ) }}
      {% elif (facet == 'type_data') %}
        {{ h.snippet('snippets/facet_list.html', title=facet_titles[facet], name=facet, alternative_url=alternative_url, extras={'extras_definition':definition_dict.id} ) }}
      {% elif (facet == 'dataset_status') %}
        {{ h.snippet('snippets/facet_list.html', title=facet_titles[facet], name=facet, alternative_url=alternative_url, extras={'extras_definition':definition_dict.id} ) }}
      {% else %}
        {{ h.snippet('snippets/facet_list.html', title=facet_titles[facet], name=facet, alternative_url=alternative_url, extras={'extras_definition':definition_dict.id}) }}
      {%- endif %}
    {% endfor %}
  </div>
  <a class="close no-text hide-filters"><i class="fa fa-times-circle"></i><span class="text">close</span></a>
</div>
{% endblock %}
